div{
    height: 200px;
    width:200px;
    background-color: #00aeff;
    border-radius: 10%;
}
div:hover{
    background-color: #ff00ae;
    transition: background-color 1s ease-in-out;
}
div:active{
    background-color: #00ffae;
    transition: background-color 1s ease-in-out;
}