div{
    height: 400px;
    width: 400px;
    background-color: #00aeff;
    font-size: 30px;
}
div:hover{
    background-color: #ff00ae;
    transform: rotate(100deg);
    transform: scale(1.0);
    transform: translate(200px,200px);
    transform: skew(180deg);

}